.main {
	box-sizing: border-box;
	background-color: var(--bg-main);
	max-width: 900px;
	margin: 0 auto;
	box-shadow: 3px 5px 1rem rgba(0, 0, 0, 0.5);
	padding: 1rem;
}

.notice {

}

.requestBtn {
	display: block;
	font-size: 1.25rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.333rem;
	border: solid 1px var(--bd-dark);
	cursor: pointer;

	&:hover {
		background-color: var(--brand-gold);
	}
}

.requestForm {
	box-sizing: border-box;
	border: 1px solid var(--bd-faint);
	padding: 0.5em;
	border-radius: 1rem;

	label {
		display: block;
		margin: 0 0 0.5rem;
		max-width: calc(100% - 1rem);
	}

	input[type=text], input[type=url], textarea {
		margin-top: 0.25rem;
		display: block;
		font-size: 1rem;
		padding: 0.333rem;
		width: 100%;
		border: solid 1px var(--bd-faint);
		border-radius: 8px;
	}

	textarea {
		resize: none;
	}

	input[name=name] {
		max-width: 400px;
	}
	input[name=short_description], textarea {
		max-width: 600px;
	}
	input[name=profile_image_url] {
		max-width: 500px;
	}

	input[type=submit] {
		display: block;
		font-size: 1.25rem;
		padding: 0.25rem 0.5rem;
		border-radius: 0.333rem;
		border: solid 1px var(--bd-dark);
		cursor: pointer;

		&:hover {
			background-color: var(--brand-gold);
		}
	}
}

.logout {
	margin-top: 1rem;

	label {
		cursor: pointer;

		button {
			cursor: pointer;
			display: block;
		}
	}
}